/*
Userstyle for: atom.io
Version: 1.0.0

Copyright (C) <2016-2020>  <Peter Stevenson> (2E0PGS)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

@-moz-document url-prefix("https://atom.io/") {
	body {
		color: #e8e8e8;
		background-color: #212123 !important;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #868686;
	}

	.package-meta ul li a {
		color: #909090;
	}

	/* ---Top navbar--- */
	.top-bar {
		background-color: #353638;
	}

	/* ---Footer--- */
	.footer {
		background-color: #353638;
	}

	.footer a {
		color: #c1c1c1;
	}

	.footer span {
		color: #a9a9a9;
	}

	/* ---Info cards--- */
	.card .meta {
		background-color: #1d1d1f;
	}

	/* ---Star count--- */
	.social-count {
		color: #e8e8e8;
		border: 1px solid #efeae100;
		background-color: #353638;
	}

	/* ---Tags--- */
	.package-card .keywords li a, .project-card .keywords li a {
		color: #e8e8e8;
	}

	.package-card .keywords li, .project-card .keywords li {
		border: 1px solid #efeae100;
		background-color: #353638;
	}

	/* ---Cards--- */
	.card {
		border: 1px solid #dddddd73;
	}

	/* ---Search--- */
	input[type="text"], #adv_code_search .search-page-label, input[type="password"], input[type="email"], input[type="number"], input[type="tel"], input[type="url"], input[type="search"], textarea {
		background-color: #353638;
		border: 1px solid #dddddd73;
		color: #c5c5c5;
	}

	.button, .minibutton {
		color: #c5c5c5;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0);
		background-image: linear-gradient(#353638, #353638);
		border: 1px solid #818283;
	}

	.button:hover, .minibutton:hover {
		background-image: linear-gradient(#555659, #555659);
	}

	/* ---Main page background--- */
	.highlight, .welcome-contact {
		background-color: #28282a;
	}

	/* ---Markdown--- */
	.markdown-body code, .markdown-body tt, .markdown-body .highlight pre, .markdown-body pre, .markdown-body table tr, .markdown-body table tr:nth-child(2n) {
		border: 1px solid #0000;
		background-color: #2b2d2f;
	}
}