/*
Userstyle for: dark scroll bar on everything.
Based on: https://userstyles.org/styles/37035/github-dark
Version: 1.0.0

Copyright (C) <2016-2020>  <Peter Stevenson> (2E0PGS)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

::-webkit-scrollbar {
	max-width: 10px !important;
	max-height: 10px !important;
	background: #1d1d1d !important;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
	/*background: #1d1d1d !important;*/
}
::-webkit-scrollbar-thumb {
	background: rgba(175, 175, 175, .5) !important;
}
::-webkit-scrollbar-thumb:hover {
	background: rgba(65, 131, 196, .8) !important;
}