/*
Userstyle for: digitalocean.com/community
Version: 1.0.1

Copyright (C) <2016-2020>  <Peter Stevenson> (2E0PGS)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

@-moz-document url-prefix("https://www.digitalocean.com/community") {
	body {
		background-color: #272727;
	}

	body, .content .content-title, .content h1,.content-body h1, .content-body h2, .content-body h3, .content-body h4, .response .response-body p, .tutorial-single .tutorial-series-toggle {
		color: #0080ff;
	}

	/* ---Links--- */
	.tutorial-single .tutorial-content a, .tutorial-single .tutorial-content p a, .question-single .question-content a, .related a.related-link, .tutorial-single .tutorial-series-toggle a {
		color: #0041ff;
	}

	/* ---Header--- */
	.tutorial-single header, .project-single header, .question-edit header, .question-new header, .question-single header, .tutorial-edit header, .tutorial-new header, .home header, .newsletter header, .home .home-page-container, .newsletter .home-page-container, .edit-your-profile header, .profile header {
		border-bottom: 1px solid #0080ff;
		background-color: #232323;
	}

	/* ---Gray Header--- */
	.gray-header {
		background: #28292b;
	}

	/* ---Search Box--- */
	.tutorial-single header .header-search {
		border-color: #0080ff;
	}

	.content-filter .content-filter-query-input {
		color: rgba(255, 255, 255, 0.7);
		background-color: #272727;
	}

	.tags.tag-single header .bucket-header h1, .tutorial-single header .header-search input[type=text] {
		color: #0080ff;
	}

	/* ---Dropdown--- */
	.dropdown .container {
		background: #272727;
	}

	/* ---Code--- */
	code, pre code {
		color: #39ef0e;
	}

	/* ---Creative Commons Banner--- */
	.tutorial-single .creative-commons {
		background-color: #2e3234;
	}

	/* ---Answer Container--- */
	.answers-container {
		background: #272727;
	}

	/* ---Feed Objects--- */
	.feed .filter-objects li h3 a, .profile .feed .filter-objects ul li .details .details a, .profile .feed .filter-objects ul li .details .title a {
		color: #949494;
	}

	.profile .feed .filter-objects ul li a {
		color: #777;
	}

	/* --Tags-- */
	.feed .filter-objects li.question .tags .tag, .tutorial-single .meta-section .tag {
		color: #fff;
		background-color: #484848;
	}

	/* ---Home Page---*/
	.home header .bucket-header h1, .newsletter header .bucket-header h1, .project-single header .header-search input[type=text], .question-edit header .header-search input[type=text], .question-new header .header-search input[type=text], .question-single header .header-search input[type=text], .tutorial-edit header .header-search input[type=text], .tutorial-new header .header-search input[type=text] {
		color: #0080ff;
	}

	.home .tutorials-feed .feed .filter-objects li, .newsletter .tutorials-feed .feed .filter-objects li, .projects .feed .filter-objects ul li.project, .projects-feed .feed .filter-objects ul li.project, .load-more-results, .load-more-results:hover, .projects .feed .filter-objects ul li.project:hover, .projects-feed .feed .filter-objects ul li.project:hover {
		background-color: #2b2b2b;
	}

	/* ---Left Nav Bar / Table of contents--- */
	.table-of-contents {
		background-color: #252525;
	}

	.table-of-contents ul li.tocify-focus a {
		color: #ffffff!important;
	}

	.table-of-contents::before {
		color: #0080ff;
	}

	/* ---Comment Section--- */
	.response .response-body {
		color: #cccccc;
	}
}