/*
Userstyle for: disqus.com
Based on: http://userstyles.org/styles/133135
Version: 1.0.0

Copyright (C) <2016-2020>  <Peter Stevenson> (2E0PGS)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

/* This theme is designed for dark webpages! It will not fit in with white webpages or non dark theme sites. */
@-moz-document domain("disqus.com") {
	.dark .nav-tab > a {
		color: #999 !important;
	}

	.dark .label, .dropdown-toggle, .dark .icon-export{
		color: #999 !important;
	}

	.unread .notification-icon {
		color: #9b3c16;
	}

	.dropdown-menu {
		background: #000; border: none;
	}

	.dropdown-menu a {
		color: #999;
	}

	.dark .proceed__button {
		background: #33152b; box-shadow: none;
	}

	.textarea-wrapper {
		background: #222; border: none;
	}

	.placeholder {
		color: #999;
	}

	/* ---Comment text input box--- */
	.textarea {
		background-color: #202020;
		color: #fff;
	}

	body.dark {
		color: #999;
	}

	.dark .badge {
		background: #333; color: #bbb; font-weight: normal;
	}

	.dark .input--text {
		background: #222; border: none;
	}

	a {
		color: #9b3c16;
	}

	.post-content .post-message p {
		color: #afafaf;
	}

	.dark .tab-conversation.active > a, .tab-conversation.active>a {
		color: #999 !important;
	}

	.post-actions {
		background: #222222;
		border-color: #333;
	}

	/* ---Post button--- */
	.btn.active, .btn:active {
		background: #2e9fff;
	}

	.btn:hover {
		background: rgba(5, 160, 255, 0.76);
		color: #fff;
	}

	/* ---Upload Attachment Button--- */
	.wysiwyg__item a.attach span {
		background-image: url(https://i.imgur.com/pQ9tc0d.png);
	}

	/* ---Input Boxes--- */
	.input--text {
		background: #222;
		color: white !important;
	}

	/* ---Custom share buttons--- */
	.facebook .share__button, .link .share__button, .twitter .share__button {
		background-image: url(https://i.imgur.com/pQ9tc0d.png);
	}
}