/*
Userstyle for: downdetector.com
Version: 1.0.0

Copyright (C) <2016-2020>  <Peter Stevenson> (2E0PGS)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

@-moz-document domain("downdetector.com"), domain("downdetector.co.uk") {
	body {
		color: #be1e2d;
		background-color: #212121;
	}

	a {
		color: #0b83a8 !important;
	}

	/* ---Rate, Country check and Stay up to date boxes--- */
	.well {
		background-color: #212121;
		border: 1px solid #2088c3;
	}

	/* ---Search box--- */
	input.search-query {
		background-color: #212121;
		color: #be1e2d;
		border-color: #0b83a8;
	}

	/* ---Alert Box--- */
	.alert {
		color: #000000;
	}

	.alert-warning {
		background-color: #f04e4e;
		border-color: #000000;
	}

	/* ---Nav bar with path included--- */
	.breadcrumb>li {
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0);
	}

	.breadcrumb {
		background-color: #353535;
	}

	/* ---Report Problem Button--- */
	.btn-danger {
		color: #fff !important;
	}

	/* ---Other buttons--- */
	.btn {
		color: #fff !important;
		background-image: linear-gradient(to bottom,#cc433d,#e15450);
		border: 0px solid rgba(255, 255, 255, 0);
		text-shadow: 0 1px 1px rgba(255, 255, 255, 0);
	}

	.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
		background-color: #bd362f;
	}

	/* ---Twitter Widget Fix--- */
	.timeline-Widget {
		background-color: #212121;
		border: 1px solid rgb(32, 136, 195);
	}

	.timeline-Header-title {
		color: #0b83a8;
	}

	/* ---Table--- */
	.table th, .table td {
		border-top: 1px solid #be1e2d;
	}

	.table-striped tbody>tr:nth-child(odd)>td, .table-striped tbody>tr:nth-child(odd)>th {
		background-color: #2d2d2d;
	}

	/* ---header / footer borders--- */
	.page-header {
		border-bottom: 1px solid #0b83a8;
	}

	.footer {
		border-top: 1px solid #0b83a8;
	}
}