/*
Userstyle for: fossbytes.com
Version: 1.0.0

Copyright (C) <2016-2020>  <Peter Stevenson> (2E0PGS)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

@-moz-document domain("fossbytes.com") {
	body {
		background-color: #2d2d2d;
	}

	body, p {
		color: #000000;
	}

	/* ---Post Text---*/
	.post {
		color: rgb(94, 174, 224);
	}

	/* ---NavBar--- */
	.td-header-main-menu {
		background-color: #005f97;
	}

	.white-menu .td-header-main-menu {
		border-bottom: 1px solid #8a8a8a;
	}

	/* ---Drop Down Menu--- */
	.sf-menu ul {
		background: #005f97;
	}

	/* ---Links--- */
	a {
		color: #009cff;
	}

	/* ---Bio of Link to Article--- */
	.td-excerpt, .td-module-excerpt {
		color: #d6d6d6;
	}
	.sf-menu>li>a, .header-search-wrap .td-icon-search, #td-top-mobile-toggle i {
		color: #101010;
	}

	/* ---Post Container--- */
	.td-container {
		background-color: #005f97;
	}

	/* ---Borders on Post Container--- */
	.td-pb-row [class*="td-pb-span"], .td-pb-border-top, .page-template-page-title-sidebar-php .td-page-content>.wpb_row:first-child, .td-post-sharing, .td-post-content, .td-post-next-prev, .author-box-wrap, .td-comments-title-wrap, .comment-list, .comment-respond, .td-post-template-5 header, .td-container, .wpb_content_element, .wpb_column, .wpb_row, .white-menu .td-header-container .td-header-main-menu, .td-post-template-1 .td-post-content, .td-post-template-4 .td-post-sharing-top, .td-header-style-6 .td-header-header .td-make-full, #disqus_thread, .page-template-page-pagebuilder-title-php .td-page-content>.wpb_row:first-child, .td-footer-container:before {
		border-color: #005f97;
	}

	.td-container-border:after, .td-next-prev-separator, .td-pb-row .wpb_column:before, .td-container-border:before, .td-main-content:before, .td-main-sidebar:before, .td-pb-row .td-pb-span4:nth-of-type(3):after, .td-pb-row .td-pb-span4:nth-last-of-type(3):after {
		background-color: #005f97;
	}

	/* ---Meta Info--- */
	.meta-info {
		color: #fbfbfb;
	}

	/* ---Trending News Header--- */
	.td-trending-now-display-area a {
		color: #fff;
	}
}