/*
Userstyle for: haskell.org
Version: 1.0.0

Copyright (C) <2016-2020>  <Peter Stevenson> (2E0PGS)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

@-moz-document domain("haskell.org") {
	body {
		color: #9554ca;
		background-color: #272727;
	}

	pre {
		color: #fff;
	}

	a {
		color: #8361e4;
	}

	.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
		color: #8754bf
	}

	.navbar-default .navbar-nav>li>a {
		color: #9a9a9a;
	}

	.navbar-default .navbar-nav>li>a:hover {
		color: #ffffff
	}

	/* ---Video Thumbs--- */
	.thumbnail .caption {
		color: #fff;
	}

	.thumbnail {
		background-color: #484848;
		border: 1px solid #9554ca;
	}
}