/*
Userstyle for: itsalmo.st
Version: 1.0.0

Copyright (C) <2016-2020>  <Peter Stevenson> (2E0PGS)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

@-moz-document domain("itsalmo.st") {
	html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, mark, meter, nav, output, progress, section, summary, time, video {
		background-color: black;
		color: blueviolet;
	}

	/* ---Millisecond on the timer--- */
	.timer-pane .timer span.milliseconds {
		color: blueviolet;
	}

	/* ---Footer--- */
	.footer .social, .footer {
		background-color: black;
	}

	.footer {
		border-top: 1px solid rgb(43, 74, 226);
	}

	.footer .social a {
		text-shadow: 1px 1px 1px rgba(255, 255, 255, 0);
	}

	.footer .gradient {
		background: -webkit-linear-gradient(top, rgb(0, 0, 0) 0%,rgb(0, 0, 0) 100%);
	}

	/* ---Share Button--- */
	.modal {
		background-color: #000;
	}

	.left-right-gradient {
		background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0) 100%);
	}

	/* ---Create New Modal--- */
	a.btn, a.btn.disabled, a.btn.disabled:hover, a.btn.disabled:active, a.btn:hover {
		border: 1px solid #2b4ae2;
		background: -webkit-linear-gradient(top, #000000 0%,#000000 50%,#000000 51%,#000000 100%);
	}
}