/*
Userstyle for: joindiaspora.com
Version: 1.0.1

Copyright (C) <2016-2020>  <Peter Stevenson> (2E0PGS)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

@-moz-document domain("joindiaspora.com") {
	body {
		color: #ffffff;
		background-color: #222222;
	}

	.page-contacts, .page-conversations, .page-notifications, .page-people.action-show, .page-people.action-contacts, .page-photos, .page-posts, .page-profiles.action-edit, .page-services.action-index, .page-streams, .page-tags, .page-user_applications, .page-users.action-edit, .page-users.action-update, .page-users.action-privacy_settings, #jsxc_roster, #jsxc_roster>.jsxc_bottom {
		background-color: #222222;
	}

	/* ---Links--- */
	.opengraph-container a {
		color: #007cff;
	}

	/* ---Footer--- */
	footer.footer {
		background-color: #222;
		border-top: 1px solid #000000;
	}

	/* ---Border of status update--- */
	.publisher.closed #publisher_textarea_wrapper {
		border: 1px solid #222 !important;
	}

	/* ---Header and Footer of the status update--- */
	.md-header.btn-toolbar, .publisher form #publisher_textarea_wrapper {
		background-color: #222222;
	}

	/* ---Status update text--- */
	input, input:active, input:invalid, input:invalid:required, input:focus, input:active:focus, input:invalid:focus, input:invalid:required:focus, input[type=email], input[type=email]:active, input[type=email]:invalid, input[type=email]:invalid:required, input[type=email]:focus, input[type=email]:active:focus, input[type=email]:invalid:focus, input[type=email]:invalid:required:focus, input[type=text], input[type=text]:active, input[type=text]:invalid, input[type=text]:invalid:required, input[type=text]:focus, input[type=text]:active:focus, input[type=text]:invalid:focus, input[type=text]:invalid:required:focus, input[type=password], input[type=password]:active, input[type=password]:invalid, input[type=password]:invalid:required, input[type=password]:focus, input[type=password]:active:focus, input[type=password]:invalid:focus, input[type=password]:invalid:required:focus, textarea, textarea:active, textarea:invalid, textarea:invalid:required, textarea:focus, textarea:active:focus, textarea:invalid:focus, textarea:invalid:required:focus {
		color: #ffffff;
	}

	/* ---Status update input box colour--- */
	.mentions-input-box {
		background: #060606;
	}

	.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
		background-color: #060606;
		border: none;
	}

	.write-preview-tabs>li.active * {
		color: #fff;
	}

	/* ---Status update preview--- */
	.md-preview {
		background: #272727;
		color: #ffffff;
	}

	/* ---Buttons--- */
	.btn-default {
		color: #ffffff;
		background-color: #060606;
		border-color: #060606;
	}

	.btn-default:hover {
		color: #ffffff;
		background-color: #060606;
		border-color: #0088e6;
	}

	.md-footer [class^="entypo-"], .md-footer [class*="entypo-"], .md-footer .glyphicon, .md-header [class^="entypo-"], .md-header [class*="entypo-"], .md-header .glyphicon {
		color: #0088e6;
	}

	/* ---Feed Articles--- */
	.stream-element {
		background-color: #272727;
	}

	/* ---Remove border on posts in feed--- */
	#main_stream .stream-element {
		border: none;
	}

	/* ---Input boxes--- */
	.form-control {
		background-color: #060606;
		border: none;
		color: #ffffff;
	}

	/* ---Expand Article--- */
	.stream-element .collapsible .expander {
		background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #272727 95%);
		color: #ffffff;
		text-shadow: none;
		font-size: small;
	}

	/* ---Left Side Nav Bar--- */
	.sidebar, .framed-content, .list-group-item {
		background-color: #272727;
		border: none;
	}

	.left-navbar .hoverable, .info-bar .title h5 {
		color: #b9b4b4;
	}

	.left-navbar .all-aspects .hoverable.selected, .left-navbar .followed-tags-sidebar .hoverable.selected, .left-navbar .selected>.hoverable, .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
		color: #fff;
		background: #0088e6;
	}

	/* ---Left Side Nav Bar Aspects--- */
	.left-navbar .all-aspects ul, .left-navbar .followed-tags-sidebar ul {
		background: #212121;
	}

	[class^="entypo-"], [class*="entypo-"] {
		color: #afafaf;
	}

	/* ---Border between chat and main feed--- */
	#jsxc_roster {
		border-left: 1px solid #000000;
	}

	/* ---Profile Page--- */
	#profile_container .profile_header {
		background-color: #272727;
	}

	.well {
		background-color: #272727;
		border: none;
	}

	#contacts_container #people_stream.contacts .stream-element:not(.in_aspect) {
		border-left: none;
	}

	#people_stream .stream-element.media {
		border-bottom: none;
	}

	#profile_container .profile_header #profile-horizontal-bar ul#profile_nav>li.active a {
		color: #cecece;
	}

	/* --Tags--- */
	.info .tag {
		background-color: #0f79c3;
		color: #fff;
		border-bottom: none;
	}

	/* ---Friends List--- */
	#jsxc_roster>.jsxc_bottom:hover {
		background-color: #3f8fba;
	}

	.jsxc_rosteritem {
		color: #fff;
	}

	.jsxc_avatar {
		background-color: #313131;
	}

	#jsxc_roster p {
		color: #fff;
	}

	#jsxc_dialog {
		background: #1d1d1d;
	}

	/* ---Diaspora invite and bitcoin address---*/
	#invite_code, #bitcoin_address {
		background-color: #060606;
		border: none;
	}

	/* ---Settings Page--- */
	a.list-group-item, button.list-group-item {
		color: #e0dddd;
	}

	/* ---Notifications Dropdown--- */
	.dropdown-menu, .page-conversations .stream-element, .navbar.navbar-fixed-top .nav-badges .dropdown-open {
		background-color: #222;
	}

	.navbar.navbar-fixed-top .nav-badges .dropdown-open>a {
		color: #f1f1f1;
	}

	.navbar.navbar-fixed-top .nav-badges .dropdown-menu .view_all {
		border-top: none;
	}

	/* ---Notifications unread--- */
	#notifications_container .stream .stream-element.media.unread, header .nav-badges .notifications .stream-element.media.unread {
		background-color: #283248;
	}

	/* ---Main login page--- */
	.block-form fieldset .form-control:first-of-type, .block-form fieldset .form-control:first-of-type:focus, .block-form fieldset .form-control:first-of-type:invalid, .block-form fieldset .form-control:first-of-type:invalid:focus, .block-form fieldset .form-control:first-of-type:invalid:required, .block-form fieldset .form-control:first-of-type:invalid:required:focus {
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
	}

	.block-form fieldset .form-control:last-of-type, .block-form fieldset .form-control:last-of-type:focus, .block-form fieldset .form-control:last-of-type:invalid, .block-form fieldset .form-control:last-of-type:invalid:focus, .block-form fieldset .form-control:last-of-type:invalid:required, .block-form fieldset .form-control:last-of-type:invalid:required:focus {
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
		border-bottom-width: 0px;
	}
}