/*
Userstyle for: limetorrents.cc
Version: 1.0.0

Copyright (C) <2016-2020>  <Peter Stevenson> (2E0PGS)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

@-moz-document domain("limetorrents.cc") {
	body {
		background-color: #292929;
	}

	body, h1, h2, h3, h4, h5, h6, .fileline {
		color: white;
	}

	/* ---Tables--- */
	.table2 th, .table2 td, .table3 th, .table3 td, .tdleft a {
		background-color: #292929;
		color: white;
	}

	/* ---Links--- */
	A:link, A:active, A:visited {
		color: white;
	}

	/* ---pages--- */
	.torrentinfo {
		color: #FFF;
	}

	#content {
		background-color: #292929;
		color: white;
	}
}