/*
Userstyle for: milo.yiannopoulos.net
Version: 1.0.1

Copyright (C) <2016-2020>  <Peter Stevenson> (2E0PGS)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

@-moz-document domain("milo.yiannopoulos.net") {
	body {
		color: #dcdcdc;
	}

	/* ---Links--- */
	a {
		color: #a9a9a9;
	}

	a:hover {
		color: #ffffff;
	}

	/* ---Caption Text--- */
	.cb-body-light .cb-entry-content .alignleft .wp-caption-text, .cb-body-light .cb-entry-content .alignright .wp-caption-text, .cb-body-light .cb-entry-content .aligncenter .wp-caption-text {
		color: #cecece;
	}

	/* ---Quote Text--- */
	.cb-body-light blockquote {
		color: #b9b9b9;
	}

	/* ---Titles--- */
	.cb-body-light .cb-article-footer .cb-title, .cb-body-light .cb-article-footer #reply-title {
		color: #dcdcdc;
		border-bottom: 5px solid #949494;
	}

	.cb-body-light .cb-meta-below .slides li .cb-post-title a {
		color: #a7a7a7;
	}

	/* ---Background of Main Content Section--- */
	.cb-body-light #cb-content, .cb-body-light .cb-hp-section, .cb-body-light .cb-post-wrap {
		background: #101010 !important;
	}

	/* ---Most Viewed Side Bar--- */
	.cb-body-light .cb-sidebar {
		background: #000000;
	}

	/* ---Most Viewed Side Bar Title Text--- */
	.cb-body-light h1, .cb-body-light h2, .cb-body-light h3, .cb-body-light h4, .cb-body-light h5 {
		color: #c5c5c5;
	}

	/* ---Most Viewed Side Bar Summary Text--- */
	.cb-body-light .cb-module-block .cb-post-title a {
		color: #9e9e9e;
	}

	/* ---Tags--- */
	.cb-body-light .cb-post-meta .cb-element a, .cb-body-light .cb-post-meta .cb-element>span {
		color: #bfac00;
		background: #000000;
	}

	/* ---Floating Footer--- */
	.nc_wrapper.floatBottom {
		background-color: #161616 !important;
	}

	div.nc_socialPanel div.totes.totesalt:not(:nth-child(1)), div.nc_socialPanel:hover div.totes.totesalt:not(:nth-child(1)), .nc_socialPanel .totes.totesalt .swp_count, .nc_socialPanel .totes.totesalt .swp_label {
		color: #e0e0e0;
	}

	/* ---Comment Section--- */
	.post-content .post-message p:last-child {
		color: #a5a5a5;
	}

	.comment__header .author a {
		color: #d8d8d8 !important;
	}
}