/*
Userstyle for: minds.com
Version: 1.0.2

Copyright (C) <2016-2020>  <Peter Stevenson> (2E0PGS)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

@-moz-document domain("minds.com") {
	/* ---Background--- */
	.mdl-color--grey-100, .minds-avatar-hovercard, .mdl-color--blue-grey-600, minds-search-bar .mdl-textfield input {
		background-color: #222222 !important;
	}

	/* ---General Text Colouring--- */
	h1, h2, h3, h4, h5, h6, h6, p, html, .mdl-card__title, .mdl-tabs__tab, minds-activity.mdl-card .mdl-card__supporting-text.message, minds-activity .mdl-card__supporting-text.message {
		color: #c3c3c3;
	}

	/* ---Top Nav Bar--- */
	.mdl-color--white {
		background-color: #1b1b1b !important;
	}

	/* ---Nav Bar Search Results List--- */
	minds-search-bar-suggestions .m-search-bar-suggestions-list {
		background: #222;
		border: none;
	}

	minds-search-bar-suggestions .m-search-bar-suggestions-list .m-search-bar-suggestions-suggestion {
		border-bottom: 1px solid #353535;
	}

	/* ---Links--- */
	a, .mdl-color-text--blue-grey-900 {
		color: #7493a2 !important;
	}

	.mdl-textfield__input {
		color: white;
	}

	/* ---Status Update Box--- */
	.mdl-card, .minds-avatar {
		background: #1b1b1b;
	}

	.mdl-card__supporting-text textarea {
		color: rgba(255, 255, 255, 0.87);
	}

	/* ---Posts--- */
	.mdl-card .m-owner-block {
		background-color: #1b1b1b;
	}

	.m-owner-block a {
		color: #cecece;
	}

	.m-mature-message .m-mature-message-content {
		color: #c3c3c3;
	}

	/* ---Load more posts button--- */
	.mdl-color--blue-grey-200 {
		background-color: #333333 !important;
	}

	/* ---Posts Like / Comment / Share Button toolbar--- */
	.mdl-color--blue-grey-50 {
		background-color: #1b1b1b !important;
	}

	/* ---Posts Comment Box---*/
	minds-textarea {
		border: none;
	}

	minds-comments .m-comments-composer form minds-textarea, minds-comments .minds-editable-container textarea {
		background: #222;
	}

	/* ---Posts ReMinds Comment Box--- */
	m-modal-remind-composer .m-modal-remind-composer textarea {
		border: 1px solid #1b1b1b;
		background-color: #222222;
	}

	/* ---Post Views Counter--- */
	minds-activity.mdl-card .impressions-tag, minds-activity .impressions-tag {
		background-color: #4690d6;
	}

	/* ---Comment Section Like and Dislike--- */
	minds-activity.mdl-card minds-comments .mdl-card__menu, minds-activity minds-comments .mdl-card__menu, .m-ribbon {
		background: #1b1b1b;
	}

	/* ---Views Counter on right--- */
	.mdl-card__supporting-text {
		color: #c3c3c3;
	}

	/* ---Left Nav Bar Darker--- */
	.mdl-color--blue-grey-800 {
		background-color: #1b1b1b !important;
	}

	/* ---Trending Images--- */
	.m-title-block, .m-title-block-fixed {
		background-color: #1b1b1b;
	}

	.mdl-color-text--blue-grey-700 {
		color: #97b4c1 !important;
	}

	/* ---inline search boxes--- */
	.m-search-inline input {
		background-color: #222222;
		border: none;
		color: white;
	}

	.m-search-inline .m-search-inline-item:hover {
		background: #222;
	}

	/* ---rich-embed-preview--- */
	minds-comments .m-comment-attachment .m-rich-embed, minds-comments .m-comments-composer .m-rich-embed, minds-comments .m-editable-attachment-container .m-rich-embed {
		background: #222;
		border: none;
	}

	/* ---Edit Post Text Container--- */
	.minds-editable-container textarea {
		background-color: #333333;
		border: none;
	}

	/* ---Drop Down Menus--- */
	.minds-dropdown-menu {
		background-color: #1b1b1b;
	}

	.mdl-menu__item:hover {
		background-color: #222;
	}

	.mdl-menu__item {
		color: white;
	}

	.mdl-menu__outline {
		background: #1b1b1b;
	}
}