/*
Userstyle for: notepad.pw
Version: 1.0.0

Copyright (C) <2016-2020>  <Peter Stevenson> (2E0PGS)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

@-moz-document domain("notepad.pw") {
	/*---RAW---*/
	body {
		background: black;
		color: yellow;
	}

	/*---edit view---*/
	.nav {
		background: black;
	}

	.container .textarea {
		background: black;
		color: yellow;
	}

	.functions.ng-scope {
		background: black;
		color: yellow;
	}

	.container .functions .footer-share .url {
		background: grey;
		color: yellow;
	}

	.container .functions .modal {
		background: black;
		color: yellow;
	}

	.container .functions .modal .input-box {
		background: grey;
		color: yellow;
	}

	/*---share view---*/
	.text {
		background: black;
		color: yellow;
	}

	.text-functions {
		background: black;
		color: yellow;
	}

	.muted {
		color: yellow;
	}


	/*---mark down view---*/
	.markdown-body {
		background: black;
		color: yellow;
	}

	.area {
		background: black;
		color: yellow;
	}
}