/*
Userstyle for: omgubuntu.co.uk
Based on: http://userstyles.org/styles/133135
Version: 1.0.0
Notice: This style was removed by original author so I have refactored it and updated it to fix broken themeing.

Copyright (C) <2016-2020>  <Peter Stevenson> (2E0PGS)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

@-moz-document domain("omgubuntu.co.uk") {
	html { background: #000; color: #999; }
	.primary-container { background: #000; border: none; }
	pre { background: #000; border-left: 3px solid #9b3c16; color: #999; }
	code { background: #000; color: #999; }
	h2, h3 { color: #bbb; }
	h4 { color: #9b3c16; }
	li { color: #777; }
	a  { color: #9b3c16; }
	blockquote { border-color: #9b3c16; }
	hr { border-bottom: 2px solid #222; color: transparent; }

	/* ---header--- */
	.branding { background: #33152b; }
	.site-logo { display: none; }
	.site-title { display: block; color: transparent; top: -25px; position: absolute; z-index: 9; transition-delay: 0s; transition-duration: 0.2s; transition-property: all; transition-timing-function: ease; vertical-align: baseline; width: 120px; height: 120px; }
	.site-title:hover { transform: matrix(0.996195, -0.0871557, 0.0871557, 0.996195, 0, 0); }
	.topmenu li a { color: #bbb; }
	.omg-dropdown {background: #111; }
	.omg-dropdown:before {border-bottom-color: #111; }
	.omg-dropdown li a { color: #999; }

	/* ---submit--- */
	#tip-dropdown { background: #000; }
	#tip-dropdown-content:before { border-bottom-color: #000; }
	#tip-dropdown-content h3 { color: #bbb; }
	#mail-form{ background: #000; }
	#mail-form input, #mail-form textarea { background: #222; border: none; }
	#mail-form #submit { background: #444; }

	/* ---banner--- */
	.banner-slideshow { border: none; }

	/* ---news--- */
	#primary { background: #111; border: none; }
	.feature, .post-row { border-color: #333; }
	.vignette { border: none; }
	.vignette .thumbnail-overlay .category a { background: #333; color: #bbb; }
	.vignette:hover .thumbnail-overlay .category a { background: #5e2750; }
	#nav-below .pagination .current { background: #9b3c16; color: #bbb; }
	.page-title { background: #33152b; color: #bbb; }
	.page-header p { color: #5e2750; }
	h2 a { color: #bbb; }
	h2 a:visited { color: #666; }
	h2 a:hover { color: #9b3c16; }
	.entry-meta, .entry-meta .entry-date { color: #666; }
	.entry-meta .author a, .entry-meta .comments-link a, #nav-below a { color: #9b3c16; }
	p { color: #999;}

	/* ---sidebar--- */
	#secondary { padding-top: 0; }
	.sidebar { background: #000; border: none; }
	.sidebar .widget h2, .sidebar .widget a { color: #bbb; text-shadow: none; }
	.sidebar .widget_wmp_widget ul > li, .sidebar .widget_omg_rss_widget ul > li { background: #111; box-shadow: none; }
	.sidebar .widget_wmp_widget ul > li:hover, .sidebar .widget_omg_rss_widget ul > li:hover { background: #33152b; }
	.sidebar .widget_wmp_widget ul > li a, .sidebar .widget_omg_rss_widget ul > li a { color: #999; }
	.sidebar .widget_wmp_widget ul > li:hover a, .sidebar .widget_omg_rss_widget ul > li:hover a { color: #bbb; }
	.videos-widget .video-post p { background: #333; }
	.videos-widget .video-post:hover p { background: #33152b; }
	.videos-widget .video-post p a { color: #bbb; }
	#recent-disqus-comments .dsq-widget-item { background: #111; border: none; box-shadow: none; }
	#recent-disqus-comments .dsq-widget-item:hover { background: #33152b; }
	#recent-disqus-comments .dsq-widget-item:before { border-right-color: #111; border-bottom-color: #000; border-top-color: #000; }
	#recent-disqus-comments .dsq-widget-item:hover:before { border-right-color: #33152b;  }
	#recent-disqus-comments .dsq-widget-item:after { display: none; }
	#recent-disqus-comments .dsq-widget-avatar { border: none; }
	.sidebar .widget p { color: #666; }
	.sidebar .widget p.dsq-widget-meta a { color: #bbb; }
	.sidebar .widget a.dsq-widget-user { color: #9b3c16; }

	/* ---article---  */
	.wp-caption .wp-caption-text { background: #333; color: #bbb; }
	.single .entry-meta .category-list a { color: #9b3c16; }
	.single .tag-links a { background: #9b3c16; color: #bbb; }
	.related_post { background: transparent; border: none; }
	.pull-quote-right p { border-color: #9b3c16; }
	a.download-link, a.download-link:before { background: #333; border: none;  box-shadow: none; color: #bbb; }
	a.download-link:before { border-right: 1px solid #222; }
	a.download-link:hover { background: #444; }
	a.website-link, a.website-link:before { background: #333; border: none;  box-shadow: none; color: #bbb; }
	a.website-link:before { border-right: 1px solid #222; }
	a.website-link:hover { background: #444; }
	a.external-store-link, a.external-store-link:before { background: #333; border: none;  box-shadow: none; color: #bbb; }
	a.external-store-link:before { border-right: 1px solid #222; }
	a.external-store-link:hover { background: #444; }
	a.usc-link, a.usc-link:before { background: #333; border: none;  box-shadow: none; color: #bbb; }
	a.usc-link:before { border-right: 1px solid #222; }
	a.usc-link:hover { background: #444; }
	.gallery-item-container { background: #9b3c16; border: none; }

	/* ---footer--- */
	.page-footer { background: #000; border: none; }
	.page-footer .navigation > li > a, .page-footer .colophon p a { color: #9b3c16; }
	.ohsologo { display: none; }
	.CookieWarning { display: none; }

	/* ---right hand side popular articles--- */
	.MostPopular-item {
		background: #111;
		border: 1px solid #5e2750;
	}

	/* ---recent user comments--- */
	.dsq-widget-list .dsq-widget-item {
		background: #111111;
	}

	.sidebar .widget p {
		color: #bbb;
	}

	/* ---search box--- */
	.searchbox input, .page-search input {
		color: white;
	}
	#s {
		background: #333;
	}
	.searchbox button {
		background: #222; color: #bbb;
	}
}