/*
Userstyle for: pipl.com
Version: 1.0.0

Copyright (C) <2016-2020>  <Peter Stevenson> (2E0PGS)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

@-moz-document domain("pipl.com") {
	body, #profile_container #profile_container_bottom {
		background-color: #1d1d1d;
		color: #b9b9b9;
	}

	/* ---Search Boxes---*/
	.find #findall, .find #findlocation, #lan_head #head_login .find #findall, #lan_head #head_login .find #findlocation, #sidebar .win_item .content .inputs input {
		color: #b9b9b9;
		background-color: #212121;
		border: 1px solid #215d9a;
	}

	/* --Footers--- */
	#bottom #content, .footer-gray #footer, .footer-white #footer {
		background-color: #1d1d1d;
	}

	/* ---Header--- */
	#lan_head {
		background: #212121;
	}

	/* ---Main Text--- */
	#main_content, #profile_container #profile_container_bottom .person_result .person_content .line2, #sidebar .win_item.filters .content ul li.all>label, #sidebar .win_item.filters .content ul li label, #sidebar .win_item.filters .content ul li ul li label, #profile_container #profile_container_middle .row-line .values ul li a, #match_results .content .profile_result .profile_result_content.small .line2, #no_match_results .content .profile_result .profile_result_content.small .line2, #match_results .content .profile_result .profile_result_content.small .line2.link, #no_match_results .content .profile_result .profile_result_content.small .line2.link, #profile_container #profile_container_middle .row-line .values .search_link {
		color: #b9b9b9;
	}
}