/*
Userstyle for: privacytools.io
Version: 1.0.1

Copyright (C) <2016-2020>  <Peter Stevenson> (2E0PGS)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

@-moz-document url-prefix("https://privacytoolsio.github.io/privacytools.io/"), domain("privacytools.io") {
	body {
		color: #ffffff;
		background-color: #131313;
	}

	/* ---Banner--- */
	.jumbotron {
		background-color: #232323;
	}

	/* ---Panels--- */
	.panel {
		background-color: #232323;
	}

	/* ---Table--- */
	table[data-sortable].sortable-theme-bootstrap {
		color: #ffffff;
		background: #232323;
	}

	.btn-default {
		text-shadow: 0 0px 0 #fff;
		background-image: linear-gradient(to bottom,#232323 0,#232323 100%);
		border-color: #525252;
		color: white;
	}

	.dropdown-menu {
		background-color: #232323;
	}

	.dropdown-menu>li>a {
		color: #fff;
	}
}