/*
Userstyle for: protonmail.com
Version: 1.0.0

Copyright (C) <2016-2020>  <Peter Stevenson> (2E0PGS)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

@-moz-document domain("protonmail.com") {
	body {
		color: #6655f7;
	}

	.conversation {
		box-shadow: inset 0 -1px 0 #6655f7;
	}

	#pm_placeholder {
		color: #6655f7;
		background-color: #232323;
	}

	/* ---Dark Background--- */
	header#pm_header-desktop, body section.sidebar, header#pm_header-desktop a.logo, body #conversation-list-columns, body #conversation-list-rows, body #conversation-view.latest,
	body #pm_view.latest, #pm_settings .settings, #plans .plans .plan.plus-plan footer, #plans .plans .plan.plus-plan header, .conversation.read, body #conversation-list-columns,
	#pm_toolbar-deskto, #pm_contacts, #pm_contacts .wrap, #pm_toolbar-desktop {
		background: #232323;
	}

	/* ---Buttons--- */
	.pm_buttons a {
		color: #6655f7;
	}

	.pm_buttons {
		border: 1px solid #6655f7;
		color: #6655f7;
	}

	header#pm_header-desktop ul.navigation>li>a {
		color: #6252ef;
	}

	.pm_button:hover {
		background-color: #232323;
		color: white;
	}

	/* ---Emails / Conversation list---*/
	.conversation .row h4 {
		color: #bebff5;
	}

	.conversation.read h4, .conversation .row .senders, .conversation .row .meta em.time {
		color: #6655f7;
	}

	.pm_buttons a.active, .pm_buttons a:active, .pm_buttons a.hover, .pm_buttons a:hover {
		background: #000000;
		color: white;
	}

	/* ---Dropdown Box--- */
	.pm_dropdown {
		background: #000;
		border: 1px solid #6655f7;
	}

	/* ---Contacts List--- */
	#pm_contacts .pm_table td span {
		color: #6655f7;
	}

	.pm_table table th {
		background: #232323;
	}

	.pm_modal .modal-dialog, .pm_modal .modal-dialog .modal-content, .pm_modal .modal-dialog .modal-footer, .pm_modal .modal-dialog .modal-content h1, .pm_modal .modal-dialog .modal-content h2,
	.pm_modal .modal-dialog .modal-content h3, .pm_modal .modal-dialog .modal-content h4 {
		background: #232323;
		color: #6655f7;
	}

	/* ---Toolbar--- */
	.pm_toolbar {
		box-shadow: inset 0 -1px 0 #6655f7;
	}

	/* ---Donate Box--- */
	#pm_settings .donate .well {
		box-shadow: inset 0 0 3rem rgb(35, 35, 35);
	}

	/* ---Search Box--- */
	.pm_form input[type=text], .pm_form input[type=number], .pm_form input[type=password], .pm_form input[type=email], .pm_form input[type=search], .pm_form select, .pm_form textarea {
		background-color: #232323;
		color: #fff !important;
	}

	/* ---Settings Tab--- */
	#pm_settings .pm_tabs {
		background: #232323;
	}

	#pm_settings .settings, .pm_table table.plain td, .pm_table table.plain th {
		color: #6655f7;
	}

	#pm_settings .pm_tabs li a.pm_button:hover {
		background: rgb(147, 151, 205);
	}

	#pm_settings .pm_tabs li.active a.pm_button {
		background: #9397cd!important;
		color: #ffffff;
		border-bottom-color: #9397cd;
	}
}