/*
Userstyle for: searx.me.
Based on: https://userstyles.org/styles/115066/searx-me-dark
Version: 1.0.0

Copyright (C) <2016-2020>  <Peter Stevenson> (2E0PGS)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

@-moz-document domain("searx.me") {
	body, html {
		background-color: #161616;
		background: url("https://i.imgur.com/qXnH6pt.jpg") fixed #161616 !important;
		background-size: cover !important;
	}

	body {
		color: #aaa;
	}

	.result-default:hover, .result-code:hover, .result-torrent:hover, .result-videos:hover, .result-map:hover {
		background-color: rgba(0,0,0,0);
	}

	.result_header a .highlight {
		background-color: rgba(0,0,0,0);
	}

	.result_header a {
		color: #55acee;
	}

	.result-content {
		color: #bbb;
	}

	.navbar-default {
		background-color: #101010;
		border-color: rgba(0,0,0,0);
	}

	.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
		color: #555;
		background-color: #050505;
	}

	.form-control {
		color: #bbb;
		background-color: #242424;
		background-image: none;
		border: 1px solid #666;
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
	}

	.btn-default {
		color: #bbb;
		background-color: #242424;
		border-color: #666;
	}

	.highlight {
		background: none;
		font-weight: 900;
	}

	.panel {
		background-color: #101010;
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
	}

	.panel-default {
		border-color: #666;
	}

	.panel-default > .panel-heading {
		color: #bbb;
		background-color: #050505;
		border-color: #666;
	}

	.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
		background-color: #242424;
	}

	.label-default {
		background-color: rgba(0,0,0,0);
	}

	.label {
		color: #bbb
	}

	.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
		background-color: #101010;
	}

	.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
		border-top: 0px solid #DDD;
	}

	a {
		color: #bbb;
	}
}