/*
Userstyle for: thehackernews.com
Version: 1.0.0

Copyright (C) <2016-2020>  <Peter Stevenson> (2E0PGS)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

@-moz-document domain("thehackernews.com") {
	body {
		background-color: #3c5a98;
	}

	html, body, h1, h2, h3, h4, h5, h6, p, blockquote, .PopularPosts .item-title h3 {
		color: white;
	}

	/* ---Wrapping outer background--- */
	#outer-wrapper, .sidebar .widget {
		background: #1f1f1f;
	}

	/* ---Remove White bar at top seperating logo and content--- */
	.head-head {
		background: #1f1f1f;
		border-bottom: 1px solid #3c5a98;
		border-top: 1px solid #3c5a98;
	}

	/* ---Quote Blocks--- */
	.post-body blockquote {
		background: #333232;
		border: 0px solid #eee;
		border-bottom: 0px solid #eee;
	}

	/* ---Post Titles--- */
	.title_sub, .posttitle {
		color: #416190;
	}

	/* ---Right Sidebar Popular Posts--- */
	.sidebar ul li {
		color: white;
		background: #1f1f1f;

	}

	.sidebar ul li:hover {
		background: #3d5a99;
	}
}