/*
Userstyle for: thewhiskyexchange.com
Version: 1.0.0

Copyright (C) <2016-2020>  <Peter Stevenson> (2E0PGS)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

@-moz-document domain("thewhiskyexchange.com") {
	/* ---Body--- */
	body {
		background: #212121;
		color: #ffffff;
	}

	.product-insert .product-insert-content {
		background: #212121;
	}

	/* ---Product name--- */
	.product-info .ident-bar .name h1 {
		color: #ffffff;
	}

	/* ---Price info --- */
	.product-info .action .price-content .price {
		color: #ffffff;
	}

	.product-info .action .clothsize, .product-info .action .addbasket, .product-info .action .price-container {
		background: #292929;
	}

	.product-info .action .wishlist-container {
		background: #292929;
	}

	/* --- Product facts ---*/
	.product-info .details .meta dd {
		color: #bbb;
	}

	/* ---Award links etc--- */
	.product-info .details .details-content-item a {
		color: #a93f80;
	}

	/* ---Product abv ---*/
	.product-info .ident-bar .name .strength {
		color: #bbb;
	}

	/* ---Nav bar--- */
	.navigation {
		background: #212121;
	}

	.nav-bar__link, .nav-link {
		color: #9068cc;
	}

	.nav-panel {
		background: linear-gradient(to bottom,#212121 0%,#212121 65%,#212121 100%);
	}

	.nav-bar__link:hover, .nav-bar__link--active{
		background: #212121;
		color: #ffffff;
	}

	/* ---Breadcrum nav--- */
	.breadcrumb {
		background: #292929;
		color: #FFFFFF;
	}

	/* ---Product grid--- */
	.products-grid .product {
		background: #292929;
	}

	.products-grid .product .information .name {
		color: #9a5cda;
	}

	.products-grid .product .price {
		color: #bf609f;
	}

	.product-info .action .offer-container {
		background: #292929;
	}

	.product-info .action .tasting-overview .tasting-container a {
		color: #a93f80;
	}

	/* ---Reviews title--- */
	.product-reviews h1, .product-reviews h2 {
		color: #a73911;
	}

	/* ---Write a review--- */
	.tweForm {
		background: #292929;
	}

	.tweForm .tweForm-input, .tweForm .tweForm-textarea {
		background-color: #212121;
		color: white;
	}

	.product-info .profile h2 {
		color: #a73911;
	}

	/* ------Account pages------ */
	/* ---Wishlist page background--- */
	.products-wrapper {
		background-color: #212121;
	}

	/* ---Account page nav--- */
	#tweAccount .account-navigation {
		background: #212121;
	}

	#tweAccount .title .title-text, #tweAccount .subtitle .subtitle-text {
		color: #a73911;
	}

	/* ---Section landing pages--- */
	.landing-section--alt, .landing-section {
		background-color: #212121;
	}
}