/*
Userstyle for: thingiverse.com
Version: 1.0.0

Copyright (C) <2016-2020>  <Peter Stevenson> (2E0PGS)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

@-moz-document domain("www.thingiverse.com") {
	/* ---Body and Headers--- */
	body, .thing-page-header h1 {
		background-color: #252525 !important;
		color: #248bfb;
	}

	/* All of the things, need to check for duplicates */
	.thing-page-header h2, .thing-page-header h2 a, #thing-files h4, #thing-files .filename, #thing-page #thing-description .thing-info .thing-info-header h2, .rendered-markdown h1.thing-component-header, #thing-page .thing-info #description h1.thing-component-header, .thing-edit-page .thing-components .preview h1.thing-component-header, strong, b {
		color: #007aff;
	}

	/* All of the things, need to check for duplicates */
	.rendered-markdown h1, .rendered-markdown h2, .rendered-markdown h3, .rendered-markdown h4, .rendered-markdown h5, .rendered-markdown h6, #thing-page .thing-info #description h1, #thing-page .thing-info #description h2, #thing-page .thing-info #description h3, #thing-page .thing-info #description h4, #thing-page .thing-info #description h5, #thing-page .thing-info #description h6, .thing-edit-page .thing-components .preview h1, .thing-edit-page .thing-components .preview h2, .thing-edit-page .thing-components .preview h3, .thing-edit-page .thing-components .preview h4, .thing-edit-page .thing-components .preview h5, .thing-edit-page .thing-components .preview h6 {
		color: #007aff;
	}

	.thing-info-content p {
		color: #fff;
	}

	#thing-files .detail {
		color: #8d45fd;
	}

	/* ---Background for info boxes--- */
	.thing-info {
		background: #252525;
		border: 1px solid #248bfb;
	}

	/* ---Header NavBar--- */
	.header.thingiverse {
		background-image: linear-gradient(to bottom, #252525,#252525);
	}

	.header {
		-moz-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0);
		-webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0);
		box-shadow: 0px 1px 1px rgba(255, 255, 255, 0);
		border-bottom: 1px solid #248bfb;
	}

	/* ---Footer--- */
	#footer {
		background-image: linear-gradient(to bottom, #252525,#252525);
		border-top: 1px solid #248bfb;
	}

	/* ---Buttons & Nav--- */
	.thing-option-btn {
		background: #252525;
	}

	.profile_edit_nav_container {
		background-color: #252525;
		border-top: 1px solid #248bfb;
		border-bottom: 1px solid #248bfb;
		border-right: 1px solid #248bfb;
	}

	.profile_nav_bttn {
		border-left: 1px solid #248bfb;
	}

	.profile_nav_bttn:not(.disabled):hover {
		background-color: #252525;
	}

	#thing-files .thing-file:hover {
		background-color: #000000;
	}

	/* ---Avatar Button--- */
	.login, .login-box {
		border-left: 1px solid #252525;
		border-right: 1px solid #252525;
		background-color: #252525;
		color: #248bfb;
	}

	/* ---Search Box--- */
	textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
		background-color: #252525;
		border: 1px solid #248bfb;
		color: #248bfb;
	}

	/* ---Profile View--- */
	.user-counts .user-count {
		background: #252525;
		border: 1px solid #ce2020;
	}

	.profile-user-info .profile-card {
		background: #252525;
		border: 1px solid #248bfb;
	}

	.welcome .content-box, .profile-page .content-box, .profile-edit-page .content-box {
		color: #248bfb;
		background: #252525;
	}

	.welcome h1, .profile-page h1, .profile-edit-page h1 {
		color: #248bfb;
	}

	.profile-user-info a.user-status { /* View your analytics */
		color: #ffffff;
		background-color: #999999;
	}

	.profile-user-info .profile-card .profile-username::before, .profile-user-info .profile-card .profile-location::before {
		background: #252525; /* Remove boxes by username and location */
	}

	.profile-user-info .profile-card h1 {
		color: #248bfb; /* Make Username Blue */
	}

	/* ---Main Page & index.html--- */
	.home .feed, .home .jumpstart-collections, .home .explore, .home .ad, .home .social-area, .home .featured-filter {
		background-color: #252525;
	}

	.subnav-wrapper {
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0);
	}

	.home .feed .event {
		color: #b2b3b3;
	}

	/* ---Collections--- */
	.page-content {
		background: #252525;
		border: 1px solid #248bfb;
	}

	#thingcollection-page .description,#thingcollection-page .collection-page-content {
		background-color: #252525;
		border: 1px solid #248bfb;
	}

	/* ---Dashboard--- */
	.subscription_text {
		background: #252525;
		border: 1px solid #248bfb;
	}

	/* ---Create a thing--- */
	.thing-edit-section:nth-of-type(even) {
		background: #252525;
	}

	.thing-edit-section:nth-of-type(odd) {
		background: #2b2b2b;
	}

	/* ---Customiser--- */
	.customizer-page .customizer-explore {
		background-color: #252525;
	}

	/* ---Dropdown--- */
	.login .dropdown-menu {
		border: 1px solid #248bfb;
		background: #252525;
	}

	.login .dropdown-menu a {
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0);
	}

	.login .dropdown-menu a:hover {
		background: #000000;
	}

	.login a {
		color: #248bfb;
	}

	.login-location {
		color: #ca8b29;
	}

	.login .login-profile, .login .login-messages, .login .login-payment, .login .login-footer {
		border-bottom: 2px solid #248bfb;
		border-top: 2px solid #252525;
	}

	.login .login-footer a+a {
		border-left: 2px solid #248bfb;
	}

	/* ---Message Inbox--- */
	.messages {
		background: #252525;
		color: #248bfb;
		border: 1px solid #248bfb;
	}

	.content-page .search-form input[type="text"], .messages .search-form input[type="text"], .orders-page .search-form input[type="text"], .landing-page .search-form input[type="text"], .view-refund .search-form input[type="text"], .search-page .search-form input[type="text"], .content-page .search-form, .messages .search-form, .orders-page .search-form, .landing-page .search-form, .view-refund .search-form, .search-page .search-form {
		background: #252525;
	}

	/* ---Comment Section ---*/
	.comment-container .comment-body {
		background-color: #252525;
		border: 1px solid #248bfb;
	}

	/* ---Search Results--- */
	.search-page .sort-search-fields, .search-page .refine-results-fields {
		background: #3e3c3c;
	}
}
