/*
Userstyle for: torrentproject.se
Version: 1.0.0

Copyright (C) <2016-2020>  <Peter Stevenson> (2E0PGS)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

@-moz-document domain("torrentproject.se") {
	body, #leftnav, #tbd, #atd, #tsf, #feedBody {
		background-color: #292929;
	}

	body, h1, h2, h3, h4, h5, h6, .fileline, p, div.torrent_cont {
		color: #486aa4;
	}

	/* ---Logo Fix--- */
	#up_big a, #up_big a:visited, #down_big a, #down_big a:visited, #up a, #up a:visited, #down a, #down a:visited {
		color: white !important;
	}

	/* ---Links---*/
	a, a.gb4 {
		color: #4678CC !important;
	}

	/* ---Search Box--- */
	.liost, .lsb {
		background: none repeat scroll 0 0 #353434;
		color: #E0767C;
		border: none;
	}

	#tb {
		box-shadow: -1px 0 4px RGBA(211, 225, 249, 0);
	}

	.lsbb, .ds {
		border: none;
		background: RGBA(41, 41, 41, 0);
	}

	#main_content {
		color: #E0767C;
	}

	/* ---Loading Time Bar and Divider--- */
	gac_bb, .order, #similarfiles div {
		background: none repeat scroll 0 0 #353434;
		color: #FFF;
		border-bottom: 1px solid #486AA4;
		text-shadow: none;
	}

	.picked {
		color: #FFF;
	}

	.notpicked {
		color: #a4a4a4 !important;
	}

	/* ---RSS Feed--- */
	#feedBody {
		border: 1px solid #414141;
	}

	.mselp, .msel {
		background-color: #353434;
	}

	/* ---Torrent Page--- */
	.furk-info h3, .gac_bb, .comments_heading {
		background: none repeat scroll 0 0 #486AA4;
		color: #FFF;
	}

	.torrent-warning, .about {
		text-shadow: none;
	}

	div#submission textarea#message, #text_area_mtorrent {
		background-color: #353434;
		color: white !important;
	}

	/* ---Advanced Search--- */
	.gls {
		color: #fff;
	}

	/* ---Trackers--- */
	table.p_in_words td + td {
		text-shadow: none;
	}

	th.tts {
		color: #FFF !important;
		text-shadow: none;
	}

	tr.even_tr_class {
		background-color: #353434;
	}

	th.big {
		background: none repeat scroll 0 0 #353434;
		color: #4567A2;
		text-shadow: none;
	}

	/* ---Lighten Blue Color--- */
	.blue {
		color: #486aa4;
	}

	/* ---SideNav Icon Fix--- */
	.miconp, .micon {
		background-color: rgba(0, 0, 0, 0);
	}

	/* ---Page Numbers--- */
	.cur {
		border: 1px solid #2600D5;
	}
}