/*
Userstyle for: untappd.com
Version: 1.0.0

Copyright (C) <2016-2020>  <Peter Stevenson> (2E0PGS)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

@-moz-document domain("untappd.com") {
	/* ---background body--- */
	body {
		background-color: #272727;
	}

	/* ---main headers--- */
	h1, h2, h3 {
		color: white;
	}

	/* ---links--- */
	a {
		color: #fc0;
	}

	/* ---check in beer title--- */
	.activity #main-stream .item .checkin .top .text {
		color: white;
	}

	/* ---serving type--- */
	.activity #main-stream .item .checkin .top .checkin-comment .rating-serving .serving span {
		color: white;
	}

	/* ---checkin comment text-- */
	.activity #main-stream .item .checkin .top .checkin-comment .comment-text {
		color: white;
	}

	/* ---checkin comment box--- */
	.activity #main-stream .item .checkin .top .checkin-comment {
		background: #1d1d1d;
	}

	/* ---user extra adding comments--- */
	.activity #main-stream .item .checkin .feedback .comments .input textarea {
		color: #fff;
		background-color: #272727;
	}

	.activity #main-stream .item .checkin .feedback .comments .input {
		background-color: #272727;
	}

	/* ---user added extra comments--- */
	.activity #main-stream .item .checkin .feedback .comments {
		background-color: #272727;
	}

	.activity #main-stream .item .checkin .feedback .comments .comment .text {
		color: #fff;
	}

	/* ---filter options links--- */
	.activity .filters {
		color: #cc6600;
	}

	/* ---info box / content box--- */
	.cont .box .content {
		background-color: #212121;
	}

	/* ---wishlist--- */
	.modal.choose-list ul {
		background-color: #131313;
	}

	/* ---user stats--- */
	.cont .sidebar .user_mini .stats a {
		color: #fff;
		background-color: #2b2b2b;
	}

	/* ---toast and comment buttons--- */
	.button.grey {
		background-color: #272727;
	}

	/* ---toast count display--- */
	.activity #main-stream .item .checkin .cheers {
		background-color: #272727;
	}

	/* ---friends page header--- */
	.top-header {
		background-color: #212121;
	}

	/* ---friends names--- */
	.friends-list .friend-item .user .info h1 a {
		color: #fff;
	}

	.friends-list .top {
		color: #fff;
	}

	/* ---beer list brewry name--- */
	.distinct-list .distinct-list-content .distinct-list-list .beer-item .beer-details .brewery a {
		color: #afafaf;
	}

	/* ---badge header--- */
	.badge-list .main .box .content .header {
		background-color: #212121;
	}
}