/*
Userstyle for: websdr.ewi.utwente.nl
Version: 1.0.0

Copyright (C) <2016-2020>  <Peter Stevenson> (2E0PGS)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

@-moz-document domain("websdr.ewi.utwente.nl") {
	body, .mainspan, .maincontrols, .tab, .ctl {
		color: #cecece;
		background-color: #151517;
	}

	.tab {
		border: 1px solid white;
	}

	.tabs [type=radio]:checked + label {
		background: #3e3e3e;
	}

	.tabs label:hover {
		background: #5f5d5d;
	}

	.tabs label {
		background: #252525;
	}
}