/*
Userstyle for: who.is
Version: 1.0.0

Copyright (C) <2016-2020>  <Peter Stevenson> (2E0PGS)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

@-moz-document domain("who.is") {
	body, html {
		color: #0099f1 !important;
		background-color: #262626 !important;
	}

	.text-muted {
		color: #c0c3c7;
	}

	/* --- Fix white boxes on index.html --- */
	.home-icon-blurbs {
		background-color: #262626;
	}

	/* ---Footer--- */
	.footer {
		background-color: rgb(38, 38, 38);
		border-top: 1px solid #0099f1;
	}

	/* ---Search Box--- */
	.input-lg, .form-control {
		background-color: #262626;
		color: #0099f1 !important;
		border: 1px solid #0099f1;
	}

	/* ---Advert Removal--- */
	.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
		display: none;
	}

	/* ---Results Table---*/
	.queryResponseHeader {
		background-color: #262626;
	}

	.queryResponseBody {
		background-color: #313131;
	}

	pre {
		color: #0099f1;
		background-color: #262626;
	}

	.queryResponseContainer {
		border: 1px solid #0099f1;
	}

	/* ---Registrar Data RAW---*/
	.rawWhois {
		color: #0099f1;
		background-color: #313131;
	}

	/* ---Alert---*/
	.alert-info {
		color: #0099f1;
		background-color: #313131;
		border-color: #0099f1;
	}

	/* --- Other Domains List--- */
	.powerBarTldContainer {
		border: 1px solid rgb(0, 153, 241);
		color: #f9f9f9;
		background-color: #313131;
	}

	/* ---buttons--- */
	.btn-default {
		color: #0099f1;
		background-color: #262626;
		border-color: #0099f1;
	}

	.btn-default:hover {
		color: #ffffff;
		background-color: #337ab7;
		border-color: #0099f1;
	}

	/* ---Site Status etc--- */
	.queryResponseHeaderSide {
		background-color: #262626;
		border: 1px solid #0099f1;
	}

	.queryResponseBodySide {
		background-color: #313131;
	}

	.text-success {
		color: #23bb25;
	}

	/* ---History--- */
	.well {
		background-color: #262626;
		border: 1px solid #0099f1;
	}

	/* --- Features Page--- */
	.featuresBarTwo, .featuresBarThree {
		background-color: #262626 !important;
	}
}