/*
Userstyle for: wsprnet.org/drupal
Version 1.0.0
Notice: I have not added themeing for the user areas yet.

Copyright (C) <2016-2020>  <Peter Stevenson> (2E0PGS)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

@-moz-document url-prefix("http://wsprnet.org/drupal/") {
	/* ---Body--- */
	body {
		color: #fff;
		background-color: #0e0e0e;
	}

	/* ---Landing page notice--- */
	.region-highlighted {
		background-color: #336299;
	}

	/* ---Page--- */
	#page {
		background-color: #2b2b2b;
		color: white;
	}

	/* ---Page titles--- */
	.form-item label {
		font-size: 1em;
		color: #fff;
	}

	/* ---Left side bar--- */
	#sidebar-left .block, #sidebar-right .block {
		background-color: #2b2b2b;
	}
}
